div{
    background-color: pink;
    color: hotpink;
    font-family: "Comic SANS MS";
    text-align: center;
}
img{
    border-color: hotpink;
    border-width: 5px;
    border-radius: 50% 50% 50% 50%;
    border-style: solid;
} 
    